@model List<CategoryViewModel>
<div class="mtmegamenu">
    <ul class="hidden-xs">
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="/">
                    <div class="title title_font"><span class="title-text">Home</span></div>
                </a>
            </div>

        </li>

        @foreach (var item in Model.Where(c => c.ParentId == null).OrderBy(c => c.SortOrder))
        {
            var plist = Model.Where(m => m.ParentId == null).ToList();
            var root = item.Type == 1 ? "demo_custom_link_cms" : "";
            <li class="mt-root @root">
                <div class="mt-root-item">
                    @if (item.Type == 2)
                    {
                        <a href="/@item.SeoAlias/">
                            <div class="title title_font"><span class="title-text">@item.Name</span></div>
                        </a>
                    }
                    else if (item.Type == 3)
                    {
                        <a href="/page/@item.SeoAlias/">
                            <div class="title title_font"><span class="title-text">@item.Name</span></div>
                        </a>
                    }
                    else
                    {
                        <a href="/@(item.SeoAlias)/">
                            <div class="title title_font"><span class="title-text">@item.Name</span></div>
                        </a>
                    }
                </div>
                @{
                    var clist = Model.Where(m => m.ParentId == item.Id).ToList();
                    if (clist != null && clist.Count > 0)
                    {
                        <ul class="menu-items col-xs-12">

                            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                            {
                                if (subItem.Type == 1)
                                {
                                    <li class="menu-item depth-1 ">
                                        <div class="title title_font"> <a href="/@subItem.SeoAlias/">@subItem.Name</a></div>
                                        <ul class="submenu"></ul>
                                    </li>
                                }
                            }
                        </ul>
                    }
                }
               
            </li>
        }
        @*<li class="mt-root">
                <div class="mt-root-item">
                    <div class="title title_font"><span class="title-text">Best Seller</span></div>
                </div>
                <ul class="menu-items col-xs-12">
                    <li class="menu-item depth-1 product menucol-1-3 withimage">
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="icon-sale-label sale-left">Sale</div>
                                    <div class="pr-img-area">
                                        <a title="Product title here" href="single_product.html">
                                            <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html theme"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                        </a>
                                    </div>
                                    <div class="pr-info-area">
                                        <div class="pr-button">
                                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                            </div>
                                            <div class="pro-action">
                                                <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item depth-1 product menucol-1-3 withimage">
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="icon-sale-label sale-left">Sale</div>
                                    <div class="pr-img-area">
                                        <a title="Product title here" href="single_product.html">
                                            <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                        </a>
                                    </div>
                                    <div class="pr-info-area">
                                        <div class="pr-button">
                                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                            </div>
                                            <div class="pro-action">
                                                <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item depth-1 product menucol-1-3 withimage">
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="icon-new-label new-right">New</div>
                                <div class="product-thumbnail">
                                    <div class="icon-sale-label sale-left">Sale</div>
                                    <div class="pr-img-area">
                                        <a title="Product title here" href="single_product.html">
                                            <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                        </a>
                                    </div>
                                    <div class="pr-info-area">
                                        <div class="pr-button">
                                            <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                            <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                            <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                            </div>
                                            <div class="pro-action">
                                                <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>*@
        <li><a href="/contact/">Contact</a></li>
    </ul>
</div>